/* You're welcome to change any of this! */
* {
    box-sizing: border-box;
}
* {
    box-shadow: inset 2;
}

body {
    margin: 5px;
    font-family: Arial, sans-serif;
}
header, section {
    padding: 20px;
}
p, li {
    line-height: 1.5em;
}

#inspiration {
    background-color: #1cd29e;
    padding-top: 40px;
    padding-bottom: 40px;
}

#homework {
    background-color: #0f7fa8;
    padding-top: 40px;
    padding-bottom: 40px;
}

#tutorials {
    background-color: #cdc6cf;
    padding-top: 40px;
    padding-bottom: 40px;
}

#lectures {
    background-color: #af164e;
    padding-top: 40px;
    padding-bottom: 40px;
}