/* You're welcome to change any of this! */
* {
    box-sizing: border-box;
}
* {
    box-shadow: inset 2;
}

body {
    margin: 5px;
    font-family: Arial, sans-serif;
}
header, section {
    padding: 25px;
}
p, li {
    line-height: 1.5em;
}

#inspiration {
    grid-area: inspiration;
    background-color: #1cd29e;
    padding-top: 40px;
    padding-bottom: 40px;
    border: solid 3px black
}

#homework {
    grid-area: homework;
    background-color: #0f7fa8;
    padding-top: 40px;
    padding-bottom: 40px;
}

#tutorials {
    grid-area: tutorials;
    background-color: #cdc6cf;
    padding-top: 40px;
    padding-bottom: 40px;
    border: solid 3px black
}

#lectures {
    grid-area: lectures;
    background-color: rgb(174, 31, 31);
    padding-top: 40px;
    padding-bottom: 40px;
}