@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

document, body {
   margin: 0px;
   font-family: 'Rockwell';
}

body * {
   box-sizing: border-box;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header, nav {
   display: flex;
   justify-content: center;
   height: 100%;
}

header {
    align-items: center;
    color: #555;
    border-bottom: solid 1px #CCC;
    background-color: #F2F2F2;
    height: 100px;
}

.selector {
    text-align: left;
    justify-content: left;
    margin-right: 50px;
    font-size: 150%;
    margin-top: 10px;
    font-weight: bold;
} 

nav {
    height: 50px;
    border-bottom: solid 1px #CCC;
    justify-content: flex-end;
    padding-right: 20px;
}

button {
    background-color: transparent;
    border: 0px;
    text-decoration: none;
    font-size: 1.1em;
    color: #666;
    margin-right: 15px;
    border: solid 1px;
    border-radius: 30%;
} 

button:hover {
    color: rgb(29, 76, 187);
        box-shadow: 0 8px 5px rgba(145, 92, 182, .4);
}

#a1 {
   font-size: 2em;
}
#a2 {
   font-size: 2em;
}

.content {
   padding: 40px;
   font-size: 1.4em;
   color: #666;
   min-height: 100vh;
   line-height: 1.6em;
}


/******************/
/* Custom Classes */
/******************/

.pink header {
   background: #064dff;
   color: white;
   font-family: 'Rockwell';
   
}
.pink button {
    color: #406969;
}

.pink .content {
   background: #0e2f9a;
   line-height: 1.6em;
   color: aliceblue;
}
.pink header, .pink nav {
    border-bottom: solid 1px #06174a;
}

.red header {
    background: black;
    color: rgb(198, 34, 34);
}
.red .content {
    background: rgb(90, 2, 2);
    color: rgb(255, 255, 255);
}
.red header, .red nav {
    border-bottom: solid 1px black;
}
.red header {
    background: rgb(176, 28, 28);
    color: rgb(255, 255, 255);
    
}

.red button {
    color: black;
}

.musicpreviews {
    margin-top: 50px;
}

.familyphotos1 {
    margin-top: 25px;
    text-align: center;
}

nav button {
    font-weight: 700;
}

.videoyoutube {
    margin-top: 50px;
    text-align: center;
}